html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
*,
*::before,
*::after {
    box-sizing: inherit; 
}

.container{
      width: 100vw;
    height: 95vh;
  display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #1E3C72;
    color: white;
    border-radius: 5px;
    box-shadow: 1px, 3px, 12px, rgba(0,0,0,0.5);
    margin: 5px auto;      

}
.dashboard-container{
      width: 100%;
    height: 93%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    box-shadow: 1px, 3px, 12px, rgba(0,0,0,0.5);
    margin: 5px auto;
    transform: translate(-5%);  
    transition: transform .3s ease-in-out,width .3s ease-in-out,margin .3s ease-in-out;
}
.year-selection-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.year-container{
    padding: 5px;
    margin: 5px auto;
}
.year-container label,.year-container select{
    font-size: 1.3rem;
}
.dashboard-item{
    width: 30%;
    height: 40%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px brown;
     background: linear-gradient(to bottom, #1E3C72, #2A5298, #4B79A1);
    border-radius: 5px;
    box-shadow: 1px 3px 12px rgba(0,0,0,0.5);
    transition: box-shadow .3s ease-in-out,transform .3s ease-in-out,border-color .3s ease-out;
}
.dashboard-item:hover{
  box-shadow: 
        0 4px 8px rgba(220, 109, 109, 0.4),
        0 0 10px rgba(245, 112, 29, 0.6); 
        transform: scale(1.08);
        border-color:  cornflowerblue;
}
.dashboard-item h2{
    width: 80%;
    font-size: 1.5rem;
    margin: 0 auto;
}
.navigation-ribbon{
    width: 100vw;
    background-color: #2A5298;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    height: 63px;

}
.hamburger-menu-button{
    padding: 4px;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
}
.logo{
    padding: 4px;
    position: absolute;
    top: 5px;
    left: 45%;
    font-size: 2rem;
    border-radius: 5px;
}
.sign-in{
    padding: 2px;
    position: absolute;
    top: 0;
    left: 70%;
    font-size: 1.4rem;
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    justify-content: center;
    align-items: center;
}
.log-out{
    margin-left: 50px;
}
.image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  background-color: white;
  color: black;

}
.log-out,.hamburger-menu-button{
    transition: color .3s ease-in-out,transform .3s ease-in-out,box-shadow .3s ease-in-out;
}
.logo:hover,.hamburger-menu-button:hover{
 transform: scale(1.05);
color: chocolate;
box-shadow: 1px 3px 12px rgba(0,0,0,0.5);
}
.username,.log-out{
  transition: color .3s ease-in-out;  

}
.username:hover,.log-out:hover{
  color: chocolate; 
}
.navigation{
         width: 15%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    box-shadow: 1px, 3px, 12px, rgba(0,0,0,0.5);
    margin: 0 auto;   
}
.navigation{
transform: translateX(-150%);
transition: transform .3s ease-in-out;
}
.nav-menu{
    height: 90%;

}
.menu-close-button{
 position: absolute;   
 top: 5px;
 right: 10px;
 cursor: pointer;
 padding: 5px;
 margin: 5px;
 border-radius: 5px;
 transition: border .3s ease-in-out,transform .3s ease-in-out, .3s ease-in-out;
}
.menu-close-button:hover{
    color: chocolate;
 border: solid 2px white;
 transform: scale(1.05);
}
.navigation.visible{
    transform: translateX(-6%);
    height: 100%;
    width: 17;
}
.split-width{
    width: 80%;
    height: 95%;
    transform: translateX(-4%);
    margin: 0 auto;
}